/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

@import 'https://fonts.googleapis.com/css?family=Cuprum:400,400i,700,700i';

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
	color: rgb(35,35,35);
    background-color: rgb(126,186,229);
	-webkit-box-shadow: 1px 1px 4px rgb(126,186,229);
	-moz-box-shadow: 1px 1px 4px rgb(126,186,229);
	box-shadow: 1px 1px 4px rgb(126,186,229);
    padding: 0.2em 0;
	text-align: center;
}
.browserupgrade a {
	color: rgb(103,102,102);
}


/* ==========================================================================
   Custom styles by some1dark.github.io
   ========================================================================== */



@font-face {
    font-family: 'voltaireregular';
    src: url('../fonts/voltaire/voltaire-regular-webfont.eot');
    src: url('../fonts/voltaire/voltaire-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/voltaire/voltaire-regular-webfont.woff2') format('woff2'),
         url('../fonts/voltaire/voltaire-regular-webfont.woff') format('woff'),
         url('../fonts/voltaire/voltaire-regular-webfont.svg#voltaireregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1.welcome {
	font-family: 'voltaireregular';
	text-align: center;
	font-size: 5rem;
	letter-spacing: .5rem;
	padding-bottom: .9rem;
	margin-top: -40rem;
	color: rgba(54,54,54,1);
}

img {
	max-width: 100%;
    height: auto;
}

body {
	background: rgb(0, 0, 0);
	background: -moz-linear-gradient(270deg, rgb(0, 0, 0) 30%, rgb(36, 35, 35) 70%);
	background: -webkit-linear-gradient(270deg, rgb(0, 0, 0) 30%, rgb(36, 35, 35) 70%);
	background: -o-linear-gradient(270deg, rgb(0, 0, 0) 30%, rgb(36, 35, 35) 70%);
	background: -ms-linear-gradient(270deg, rgb(0, 0, 0) 30%, rgb(36, 35, 35) 70%);
	background: linear-gradient(0deg, rgb(0, 0, 0) 30%, rgb(36, 35, 35) 70%);
	background-size: contain;
	background-repeat: no-repeat;
	min-height: 80rem;	
}

header {
	background-image: url(../img/bg-header.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-color: rgb(0,0,0);
	min-height: 15rem;
	border-bottom: 1px solid rgb(60,69,69);
	margin-top: -1rem;	
}

.navbar {
	background-color: rgb(0,0,0);
	min-height: 10px;
	margin-top: -1rem;
	padding-bottom: 2.25rem;
}

nav {
	margin: 0 auto;
	max-width: 55%;
	padding-top: 2rem;
}
	nav ul {
		list-style-type: none;
		overflow: hidden;
	}
		nav ul li {
			text-align: center;
			display: inline;
			float: left;
			border-right: 2px solid rgb(36,35,35);
		}
		nav ul li:last-child {
			border-right: none;
		}
			nav ul li a {
				display: block;
				padding: 1rem 1rem;
				text-decoration: none;
				color: rgb(74,74,74);
				font-family: 'voltaireregular';
				font-weight: bold;
				font-size: .99rem;
			}
			nav ul li a:hover {
				color: rgb(0,0,0);
				background-color: rgb(36,35,35);
			}

 /* Remove margins and padding from the list, and add a black background color */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0,0,0);
}

/* Float the list items side by side */
ul.topnav li {float: left;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: rgb(74,74,74);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #000; color: rgb(129,191,236);}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}

main {
	background-color: rgb(255,255,255);
}

section#top {
	background-color: rgb(0,0,0);
	background-image: url(../img/lion-footer-left.jpg), url(../img/lion-footer-right.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: left bottom, right bottom;
	min-height: 18.4rem;
}

section#mid {
	margin-top: -1rem;
	background-color: rgb(255, 255, 255);
	background-image: -moz-linear-gradient(180deg, rgb(255, 255, 255) 15%, rgb(36, 35, 35) 15%, rgb(0, 0, 0) 50%, rgb(36, 35, 35) 90%, rgb(255, 255, 255) 90%);
	background-image: -webkit-linear-gradient(180deg, rgb(255, 255, 255) 15%, rgb(36, 35, 35) 15%, rgb(0, 0, 0) 50%, rgb(36, 35, 35) 90%, rgb(255, 255, 255) 90%);
	background-image: -ms-linear-gradient(180deg, rgb(255, 255, 255) 15%, rgb(36, 35, 35) 15%, rgb(0, 0, 0) 50%, rgb(36, 35, 35) 90%, rgb(255, 255, 255) 90%);
	background-image: -o-linear-gradient(180deg, rgb(255, 255, 255) 15%, rgb(36, 35, 35) 15%, rgb(0, 0, 0) 50%, rgb(36, 35, 35) 90%, rgb(255, 255, 255) 90%);
	background-image: linear-gradient(180deg, rgb(255, 255, 255) 15%, rgb(36, 35, 35) 15%, rgb(0, 0, 0) 50%, rgb(36, 35, 35) 90%, rgb(255, 255, 255) 90%);
}

figcaption.slider {
	font-size: 0.7rem;
	font-family: 'voltaireregular';
	color: rgb(69,69,69);
	padding-top: 0.25rem;
}

.promo-img {
	text-align: center;
	padding-top: 1rem;
	/*width: 100%;*/
	height: auto;
}

.promo-img .border {
	border: 5px solid #000;
	border-radius: 8px;
	background-color: #000;
}

/* This is the old Shadow version that still relies on an Image insted of CSS3 magic */
/*.img-shadow {
	background: url(../img/liftedshadow_medium.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom center;
	padding-top: 5rem;
	width: 100%;
	height: auto;
	float: left;
}*/

section#mid-low {}

.wrapper p.indent {
	font-family: 'Cuprum', sans-serif;
	line-height: 1.2rem;
	width: 50%;
	float: left;
}
.wrapper p.indent::First-Letter {
	font-size: 1.5rem;
	font-weight: 700;
}

.wrapper h2 {
	text-align: center;
	font-size: 2rem;
	font-family: 'Cuprum', sans-serif;
}

/* This Text is behind the slider */
.back {
	text-align: center;
}


section#low {
	margin-top: 20rem;
	padding: 1rem;
}

.wrapper {
	margin: 0 auto;
	max-width: 55%;
}

footer {
	background-color: rgb(0,0,0);
	background: url(../img/lion-footer-left-2.jpg), url(../img/lion-footer-right-2.jpg);
	background-repeat: no-repeat;
	background-size: 25%, 25%;
	background-position: left bottom, right bottom;
}
.dark-foot {
	color: rgb(44, 44, 44);
	font-size: 1.5rem;
	text-align: center;
	margin-left: 4rem;
	margin-right: 4rem;
	padding-top: 25rem;
	font-family: 'voltaireregular';
	line-height: 1.25rem;
}
.dark-foot span {
	font-size: 1rem;
	line-height: 1.15rem;
	
}

/* ==========================================================================
   CSS Slider
   ========================================================================== */
@keyframes slidy {
	0%	{ left: 0%; }
	20% { left: 0%; }
	25% { left: -100%; }
	45% { left: -100%; }
	50% { left: -200%; }
	70% { left: -200%; }
	75% { left: -300%; }
	95% { left: -300%; }
	100%{ left: -400%; }
}

div#slider { 
	overflow: hidden; 
	max-width: 45%;
	max-height: 45%;
}
div#slider figure img { 
	width: 20%; 
	float: right;
}
div#slider figure { 
	position: relative;

	width: 500%;
	margin: 0;
	left: 0;
	text-align: left;
	font-size: 0;
	animation: 30s slidy infinite; 
}

/* ==========================================================================
   This is the element we are applying the animation to.
   ========================================================================== */

div.shadow1 {

	animation-name: move;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-delay: .5s;
	animation-iteration-count: 1;
	animation-direction: infinite;

	-moz-animation-name: move;
	-moz-animation-duration: 1s;
	-moz-animation-timing-function: ease-in-out;
	-moz-animation-delay: .5s;
	-moz-animation-iteration-count: 1;
	-moz-animation-direction: infinite;

	-webkit-animation-name: move;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-delay: .5s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-direction: infinite;

}

/* ==========================================================================
   This is the animation code. 
   ========================================================================== */

@keyframes move {
	0%	{	transform: translate(0, 0) }
	15%	{	transform: translate(0, 0) }
	35% {	transform: translate(4rem, 0)}
	50% {	transform: translate(-4rem, 0)}
	65% {	transform: translate(4rem, 0)}
	80% {	transform: translate(-4rem, 0)}
	90% {	transform: translate(0, 0)}
	100%{	transform: translate(0, 0)}
}	@-moz-keyframes move {
	0%	{	-moz-transform: translate(0, 0) }
	15%	{	-moz-transform: translate(0, 0) }
	35% { 	-moz-transform: translate(4rem, 0)}
	50% {	-moz-transform: translate(-4rem, 0)}
	65% { 	-moz-transform: translate(4rem, 0)}
	80% {	-moz-transform: translate(-4rem, 0)}
	90% {	-moz-transform: translate(0, 0)}
	100%{	-moz-transform: translate(0, 0)}
}	@-webkit-keyframes move {
	0%	{	-webkit-transform: translate(0, 0) }
	15%	{	-webkit-transform: translate(0, 0) }
	35% {	-webkit-transform: translate(4rem, 0) }
	50% {	-webkit-transform: translate(-4rem, 0)}
	65% {	-webkit-transform: translate(4rem, 0) }
	80% {	-webkit-transform: translate(-4rem, 0)}
	90% {	-webkit-transform: translate(0, 0)}
	100%{	-webkit-transform: translate(0, 0)}
}

/* ==========================================================================
   3D Box Shadow
   ========================================================================== */

.shadow1 {
	position: relative;
	z-index: 1;
}

/* ==========================================================================
   Styling Shadows
   ========================================================================== */
.shadow1:before, .shadow1:after{
	position:absolute;
	content:"";
	bottom:15px;
	left:35px;
	top:79.9%;
	width:30%;
	z-index: -1;
	-webkit-box-shadow: 0 20px 15px rgba(0, 0, 0, 0.9);
	-moz-box-shadow: 0 20px 15px rgba(0, 0, 0, 0.9);
	box-shadow: 0 20px 15px rgba(0, 0, 0, 0.9);
	-webkit-transform: rotate(-6deg);
	-moz-transform: rotate(-6deg);
	transform: rotate(-6deg);
}
.shadow1:after{
	-webkit-transform: rotate(6deg);
	-moz-transform: rotate(6deg);
	transform: rotate(6deg);
	right: 35px;left: auto;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 500px) {

	header nav ul {
		flex-flow: column wrap;
		flex: 1 0 20%;
	}
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}