/*	CSS by Stephen James Morris 	*/
/* Variables */
/* Fonts */
@font-face {
  font-family: "UglyQua";
  src: url("../fonts/UglyQua.eot");
  src: url("../fonts/UglyQua.eot#iefix") format("embedded-opentype"), url("../fonts/UglyQua.svg") format("svg"), url("../fonts/UglyQua.woff") format("woff"), url("../fonts/UglyQua.ttf") format("truetype");
}
a#title {
  color: #ffffff;
  text-decoration: none;
  display: block;
}
a#title h1 {
  font-size: 160px;
  font-size: 10rem;
  line-height: 2rem;
  text-align: center;
  -webkit-text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  -moz-text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  -ms-text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  -o-text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}
/* Basics */
* {
  margin: 0;
}
html {
  font-size: 100%;
  height: 100%;
  padding: 0;
}
body {
  font-size: 1em;
  color: #333;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Verdana, Helvetica, Arial, sans-serif;
  text-align: left;
  margin: 0 auto;
  width: 90%;
  min-width: 320px;
  max-width: 1600px;
  background-attachment: fixed;
  background-image: -webkit-linear-gradient(0deg, #eff0f1, #c7cacf);
  background-image: -moz-linear-gradient(0deg, #eff0f1, #c7cacf);
  background-image: -ms-linear-gradient(0deg, #eff0f1, #c7cacf);
  background-image: -o-linear-gradient(0deg, #eff0f1, #c7cacf);
  background-image: linear-gradient(0deg, #eff0f1, #c7cacf);
  -webkit-box-shadow: 0px 0px 8px #000000;
  -moz-box-shadow: 0px 0px 8px #000000;
  -ms-box-shadow: 0px 0px 8px #000000;
  -o-box-shadow: 0px 0px 8px #000000;
  box-shadow: 0px 0px 8px #000000;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
  display: block;
}
strong,
b {
  font-weight: bold;
}
em,
i,
cite,
figcaption {
  font-style: italic;
}
small {
  font-size: 0.8rem;
}
h1 {
  font-family: UglyQua;
  font-weight: normal;
  font-style: normal;
}
p:last-child {
  margin-bottom: 0 !important;
}
input[type="search"] {
  font-size: 16px;
  /* IE Fallback */
  font-size: 1rem;
  width: 40%;
  position: absolute;
  bottom: 22px;
  right: 0;
  left: 0;
  margin: 0 auto;
  -moz-appearance: searchfield;
  -moz-box-sizing: border-box;
}
@media (-webkit-min-device-pixel-ratio: 0) {
  input[type="search"] {
    font-size: large;
  }
}
input:-moz-placeholder {
  color: #a9a9a9;
}
.italic {
  font-style: italic;
}
/* Layout */
header {
  height: 20rem;
  background-image: url(../img/flowers.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
nav {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 auto;
  z-index: 1;
  width: 100%;
  max-height: 1600px;
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  background-image: linear-gradient(0deg, #fafafa, #e9eaeb);
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.4);
}
nav ul {
  display: table;
  margin: 0 auto;
  height: 1.7rem;
  width: 100%;
  list-style: outside none none;
  margin-left: -2.5rem;
}
nav ul li {
  border: 1px solid #bbb;
  text-align: center;
  display: table-cell;
  line-height: 1.7rem;
  width: auto;
}
nav ul li a {
  height: 1.7rem;
  text-decoration: none;
}
/* Content */
/* Forms */
/* Mixins */
/* Media Queries */
